/* Estilos para el contenedor principal */
.my-5 {
  margin-top: 3rem !important; /* Espacio superior */
  margin-bottom: 0rem !important; /* Espacio inferior */
}
.tituloEspecialidades {
  font-size: 40px;
  margin-bottom: 1.5rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  max-width: 500px;
  margin: 0 auto; /* Centra el contenido horizontalmente */
  text-align: center; /* Centra el texto dentro del elemento */
}

/* Contenedor de la tarjeta */
.especialidades-card {
  position: relative;
  width: 100%;
  height: 300px; /* Ajusta la altura según tu preferencia */
  overflow: hidden;
  border-radius: 0; /* Sin bordes redondeados; ajusta si lo deseas */
  font-family: "Inter", sans-serif;
  text-align: center; /* Centra el texto dentro del elemento */
  font-size: 1px;
}

/* Imagen de fondo de la tarjeta */
.especialidades-card-image {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Capa oscura para resaltar el texto */
.overlay-dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad (0.5 = 50%) */
}

/* Texto dentro de la tarjeta */
.especialidades-card-title {
  position: absolute;
  bottom: 5px;
  left: 10px;
  color: #fff; /* Blanco para resaltar sobre la capa oscura */
  z-index: 2; /* Para que quede por encima de la capa oscura */
  font-family: "Inter", sans-serif;
  text-align: center; /* Centra el texto dentro del elemento */
}

/* Contenedor de la tarjeta */
.especialidades-card-unique {
  position: relative;
  width: 100%;
  height: 250px; /* Ajusta la altura según tu preferencia */
  overflow: hidden;
  border-radius: 0; /* Sin bordes redondeados; ajusta si lo deseas */
  font-family: "Inter", sans-serif;
  text-align: center; /* Centra el texto dentro del elemento */
}

/* Imagen de fondo de la tarjeta */
.especialidades-card-image-unique {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* Capa oscura para resaltar el texto */
.overlay-dark-unique {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Ajusta la opacidad (0.5 = 50%) */
}

/* Texto dentro de la tarjeta */
.especialidades-card-title-unique {
  position: absolute;
  bottom: 20px; /* Ajusta la posición desde el fondo */
  left: 50%;
  transform: translateX(-50%); /* Centra el texto horizontalmente */
  color: #fff; /* Blanco para resaltar sobre la capa oscura */
  z-index: 2; /* Para que quede por encima de la capa oscura */
  font-family: "Inter", sans-serif;
  text-align: center; /* Centra el texto dentro del elemento */
  font-size: 16px;
  padding-bottom: 0px; /* Margen inferior de 20px */
  text-align: center; /* Centra el texto dentro del elemento */
}

@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    padding: 0rem 3rem;
  }
  .tituloEspecialidades {
    font-size: 2rem;
  }
}

@media (max-width: 375px) {
  .tituloEspecialidades {
    font-size: 2rem; /* Tamaño de letra ajustado */
    margin-bottom: 1.5rem;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .text-center-esp {
    font-size: 1.3rem; /* Tamaño de letra */
    margin-top: 4rem;
  }
}
.vigilancia {
  justify-content: center;
}
.potencia {
  justify-content: center;
}
.row {
  justify-content: center;
}
